h1 {
    font-family: 'Montserrat', sans-serif;
    color: rgb(90, 90, 90);
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 2px;
}

p {
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(140, 140, 140);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 5px;
}

img {
    width: 150px;
    height: 150px;
}
